@page "/"

<PageTitle>Home</PageTitle>

<section class="bg-indigo-700 text-white">
    <div class="container mx-auto px-4 py-16 text-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Welcome to DotNetPWA</h1>
        <p class="text-lg md:text-xl mb-6">
            Build a PWA web application with Blazor and TailwindCSS.
        </p>
        <p>
            Offline support in the works.
        </p>
        <a href="/weather" class="mt-4 px-4 py-2 bg-blue-600 rounded inline-block">
            Test Weather
        </a>
    </div>
</section>
<section>
    <div class="container mx-auto">
        <div class="p-4">
            <h2 class="text-2xl text-center">
                Features
            </h2>
            <br/>
            <ul class="list-disc pl-4" dir="auto">
                <li class="ml-4"><b>Blazor WASM</b> PWA Client</li>
                <li class="ml-4">API Server</li>
                <li class="ml-4">Offical <b>TailwindCSS</b> support</li>
                <li class="ml-4"><b>Webpack</b> bundling</li>
                <li class="ml-4"><b>CSSNano</b> CSS minfication</li>
                <li class="ml-4">Lightweight authorization handling with <b>Identity Framework Core</b></li>
                <li class="ml-4"><b>IndexedDb</b> support (in-progress)</li>
                <li class="ml-4">Online/Offline sync support (in the works..)</li>
            </ul>
        </div>
    </div>
</section>